body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Roboto', sans-serif, 'Lora', serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
  }

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: #FFE6C7;
}

::-webkit-scrollbar-thumb {
    background: #6D5D6E;
    max-height: 128px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4F4557;
}